# Cache and temporary files
quickshell/gtk-themes/
quickshell/gtk-icons/
vesktop/sessionData/
vesktop/Crashpad/
VSCodium/Cache/
VSCodium/CachedData/
VSCodium/logs/
VSCodium/User/workspaceStorage/
VSCodium/User/globalStorage/
